.main-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.photo-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin-right: 16px;
}

.upload-photo-container {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
}
