.welcome-heading {
  text-align: center;
}

.sale-heading {
  text-align: center;
}

img {
  height: 200px;
}

.image-container {
  display: flex;
  justify-content: center;
}

#actions {
  display: flex;
  justify-content: center;
}

.product-list-sale {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 16px;
}
