<h1 class="productHeader">Products</h1>
<div class="container" *ngIf="products">
  <div class="product-layout">
    <div
      class="card"
      (click)="navigateToProduct(product)"
      *ngFor="let product of products"
    >
      <img *ngIf="product && product.url" [src]="product.url" alt="cat food" />
      <h1>{{ product.name }}</h1>
      <p class="price">${{ product.price }}</p>
      <p>{{ product.description }}</p>
      <p><button (click)="addToCart(product, $event)">Add to Cart</button></p>
    </div>
  </div>
</div>
