<header>
  <div class="navigation-bar">
    <button mat-button [routerLink]="'products'" matTooltip="Products">Products</button>

    <div class="icon-buttons">
      <button mat-icon-button (click)="navigateToUserMyPages()" matTooltip="My pages">
        <mat-icon>person</mat-icon>
      </button>

      <div class="cart-button">
        <button mat-icon-button [routerLink]="'shopping-cart'" matTooltip="Shopping cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <ng-container *ngIf="itemsInShoppingCart$ | async as numberOfItems">
          <div class="number">{{ numberOfItems }}</div>
        </ng-container>
      </div>

      <button mat-icon-button [routerLink]="'home'" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button class="about-container" [routerLink]="'about'">
       About
      </button>
    </div>

    <ng-container *ngIf="authUser !== undefined; else login">
      <div class="auth-user">Logged in: {{ authUser.username }}</div>
      <button mat-button (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #login>
      <button mat-button (click)="openDialog('login')">Login</button>
      <button mat-button (click)="openDialog('register')">Register</button>
    </ng-template>
  </div>
</header>

<router-outlet></router-outlet>
