<mat-card>
  <div>Register</div>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="usernameRegister" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="passwordRegister" />
  </mat-form-field>
  <button mat-raised-button (click)="register()">Register</button>
</mat-card>

<mat-card>
  <div>Login</div>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="usernameLogin" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="passwordLogin" />
  </mat-form-field>
  <button mat-raised-button (click)="login()">Login</button>
</mat-card>

<mat-card>
  <div>Try to access authorized endpoint</div>
  <button mat-raised-button (click)="fetchAllProducts()">Fetch</button>
</mat-card>
